
body{
    background-image: url("/images/imageasset.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
  background-color: #E1B9C4;
}
.navbar-brand{
  margin-left: 20px;
}
.maincontent{
  text-align: center;
  margin-top:19%;
  justify-content: center;
  align-items: center;
}
.btn.btn-light{

  background-color: #E1B9C4 !important;;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

/* sidebar style */
@media only screen and (max-width: 1200px){
  .sidebar{
    display: none;
    width: 80% !important;
    background: white;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
  } 
  .matter{
    margin-left: 5% !important;
  }
  
}

.sidebar{
  width: 18%;
  background: white !important;
  height: 100%;
  position: fixed;
  padding-top: 45px;
} 

.sidebar a{
  display: block;
  width: 100%;
  padding: 10px 25px;
  text-decoration: none;
  color: gray !important;
}
.sidebar a:hover{
  background: #e2e2e2 !important;
}
.sidebar .divider{
  height: .5px;
  width: 100%;
   background: #e2e2e2 !important;
   margin-top: 10px;
}

.matter{
  margin-left: 20%;
}

.sidebar .crosbtn{
  position: absolute;
  top: 0;
  right: 35px;
  font-size: 36px;
  cursor: pointer;
}

.myprofile_picture{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: fill;
}

.profile{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: fill;
}